{%extends 'base.html'%}
{%block content%}
{%load static%}
{% if error %}
<div class="alert alert-warning" role="alert">
{{error }}
</div>

<br>
<br>
{%endif%}

<h2>Sign Up!</h2>



<div class="row">
    <div class="col-4">
        <form  action="{%url 'signup_admin'%}" method="POST">
            {%csrf_token %}
            <br>
            <input type = "text" name = "username" id="inputEmail" class="form-control" placeholder="Name: Firstname Surname" required autofocus>
            <br>
            <input type="email" name="email" id="inputEmail" placeholder="Email-Id: yourName@jpischool.com" class="form-control" required>
            <br>
            <input class= "form-control" id="inputEmail" type="number" name="grade" placeholder="Grade: 0-12">
            <br>
            <input type="password" name = "password1" id="inputPassword" class="form-control" placeholder="Password" required>
            <br>
            <input type="password" name = "password2" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
            <br>
            <input type="submit" name="" value="Sign Up! " class = "btn btn-lg btn-primary btn-block">
        </form>
        <br>
        <p>Aldready have an account? <a href="{%url 'login'%}">Login Now!</a></p>
    </div>
    <div class="col-6">
        <img src="{%static "signup_admin.svg" %}" alt="">
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>

{%endblock%}
